@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@import url('https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#modalContatohtml + iframe,
#modalContatobody + iframe {
  display: none;
}
html > iframe:last-child,
body > iframe:last-child {
  display: none;
}
#cabecalho {
  background-color: #fff;
}
#cabecalho .logo {
  background: url('https://docs.google.com/uc?id=1fdugcSgKu1W4LiqG8D3AJrBF74idu5KV') no-repeat;
  width: 150px;
  height: 112px;
  font-size: 0;
  margin: 0 auto;
}




#cabecalho {
  background-color: #fff;
}
#cabecalho .logo {
  background: url('https://docs.google.com/uc?id=1fdugcSgKu1W4LiqG8D3AJrBF74idu5KV') no-repeat;
  width: 150px;
  height: 112px;
  font-size: 0;
  margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@import url('https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#modalContatohtml + iframe,
#modalContatobody + iframe {
  display: none;
}
html > iframe:last-child,
body > iframe:last-child {
  display: none;
}
