    @import (reference) "../structure/global.less";
	
	#cabecalho {
		background-color: @white;
		
		.logo {
			background: url('@{img-dir}1fdugcSgKu1W4LiqG8D3AJrBF74idu5KV') no-repeat;
			width: 150px;
			height: 112px;
			font-size: 0;
			margin: 0 auto;
		}
	}