
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@import url('https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// --------------- [ colors ] ---------------

@color-1 : #0069c0;
@color-2: #f1f1f1;
@color-3: #212121;
@color-4: #ccc;
@facbeook-color: #3a589b;
@instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

@white : #fff;
@black: #000;


//  --------------- [ images ] ---------------

@img-dir : 'https://docs.google.com/uc?id=';


// --------------- [ font ] ---------------

@font-padrao: 'Open Sans', arial, sans-serif; 
@font-awesome: 'FontAwesome';


html,
body {
	font-family: @font-padrao;
	font-size: 14px;
	line-height: normal;
    background: @white;
    overflow-x: hidden;
	margin: 0;
	padding: 0;
    
	#modalContato&+iframe {
		display: none;
		display: none;
	}
	>iframe {
		&:last-child {
			display: none;
		}
	}
}